VITE_SUPABASE_URL=https://obrfclyaqqqkficaacgc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9icmZjbHlhcXFxa2ZpY2FhY2djIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDk5NjgwMDIsImV4cCI6MjAyNTU0NDAwMn0.sj2WKM4ZUALUGgnskcOC9LD-w0rw3--Qj_w_pOUJ3Kc